* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 15px 180px 15px 180px;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .left img {
  margin-right: 20px;
}
nav p {
  font-size: 13px;
  cursor: pointer;
}
nav p:hover{
  border-bottom: 3px solid black;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
ri-shopping-cart-2-line {
  font-size: 17px;
}
.profile {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-image: url("https://wallpapers.com/images/hd/cute-cat-sunglasses-profile-picture-mw7qp9gjrp272zky.jpg");
  background-position: center;
  background-size: cover;
}

/* NAV bar complete*/

.sec1 {
  position: relative;
  width: 95%;
  align-self: center;
}
section img {
  width: 100%;
}

.content {
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content h1 {
  font-size: 35px;
  font-weight: 500px;
  letter-spacing: 1px;
}
.content p {
  letter-spacing: 1px;
}
.content button {
  width: fit-content;
  font-size: 15px;
  padding: 14px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
}

.cointainer3 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.cointainer3 .box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.cointainer3 .box img {
  width: 45px;
}

.cointainer3 p {
  color: rgb(0, 104, 184);
  font-weight: 700;
  text-decoration: underline;
}

.cointainer4 {
  height: 55%;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 150px 0px 150px;
  align-items: center;
}
.cointainer4 .box {
  height: 95%;
  width: 60%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392);
}

/* First Card*/
.content1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content1 .text {
  padding: 10px;
  font-size: 25px;
}
.content1 .text2 {
  padding-left: 10px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.content1 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 16px;
  margin-top: 5px;
}

/*Second card*/
.content2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content2 h1 {
  padding: 10px;
  font-size: 25px;
}
.content2 p {
  padding-left: 10px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.content2 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 16px;
  margin-top: 5px;
}

/*Third card*/
.content3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content3 h1 {
  padding: 10px;
  font-size: 25px;
}
.content3 p {
  padding-left: 10px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.content3 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 16px;
  margin-top: 80px;
}

/* 4th card*/
.content4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content4 h1 {
  padding: 10px;
  font-size: 25px;
}
.content4 p {
  padding-left: 10px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.content4 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 16px;
  margin-top: 59px;
}

/* for cointainer 5*/

.cointainer5 {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.image {
  height: 100%;
  width: 80%;
  margin-top: 25px;
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP5-1596x600");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.cointainer5 h1 {
  color: white;
  margin-top: 95px;
  margin-left: 100px;
}

.cointainer5 p {
  color: white;
  margin-left: 100px;
  margin-top: 30px;
}
.cointainer5 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px 30px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 30px;
}

/* Container6 part*/
.business{

   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-left: 35px;
    margin-top: 85px;
  margin-left: 120px;
  font-weight: 400;
  
}

.container6{
  height: 68%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 150px 0px 150px;
  align-items: center;
}

.container6 .newCard {
  height: 95%;
  width: 60%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.392);
}
.businessContent1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.businessContent1 h1{
   font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-left:20px;
  margin-top: 10px;
  font-weight: lighter;
}
.businessContent1 p{
   padding-left: 21px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.businessContent1 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px 30px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 25px;
  margin-top: 30px;
}

/* 2nd card*/
.businessContent2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.businessContent2 h1{
   font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-left:20px;
  margin-top: 10px;
  font-weight: lighter;
}
.businessContent2 p{
   padding-left: 21px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.businessContent2 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px 30px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 25px;
  margin-top: 87px;
}
/* 3rd card*/
.businessContent3{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.businessContent3 h1{
   font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-left:20px;
  margin-top: 10px;
  font-weight: lighter;
}
.businessContent3 p{
   padding-left: 21px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.businessContent3 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px 30px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 25px;
  margin-top: 120px;
}

/*4th card*/
.businessContent4{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.businessContent4 h1{
   font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-left:20px;
  margin-top: 10px;
  font-weight: lighter;
}
.businessContent4 p{
   padding-left: 18px;
  font-size: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.businessContent4 button {
  width: fit-content;
  font-size: 15px;
  padding: 10px 30px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  margin-left: 25px;
  margin-top: 65px;
}

/* for last banner*/
.newadd{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.image {
  height: 100%;
  width: 80%;
  margin-top: 25px;
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP5-1596x600");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.newadd h1 {
  color: white;
  margin-top: 95px;
  margin-left: 100px;
}

.newadd p {
  color: white;
  margin-left: 100px;
  margin-top: 30px;
}
.img2{
  height: 100%;
  width: 80%;
  margin-top: 25px;
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP5-1596x600");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.newadd button{
  width: fit-content;
  font-size: 15px;
  padding: 10px 30px;
  background-color: rgb(0, 104, 184);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 30px;
}

/* Social media */
.socials{
  margin-top: 23px;
  height: 10%;
  padding: 0 150px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.socials h3{
  font-weight: 500;
}
.socials .icons{
  display: flex;
  font-size: 25px;
  gap: 10px;
}

/* Footer part*/
footer{
  display: flex;
  justify-content: space-between;
  height: 40%;
  padding: 0 200px;
  background-color:#f2f2f2;
}
footer .text-box{
  color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .text-box h4{
  font-weight: 500;
}
.text-box small{
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}